---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TrustedBy from '../components/TrustedBy.astro';
import CompanyIntro from '../components/CompanyIntro.astro'; // 👈 Import the new component
---

<Layout title="Home" description="Welcome to our website">
  
  <main>
    <Hero /> 
    <CompanyIntro />
    
  </main>

</Layout>