---
// src/layouts/Layout.astro
import '../styles/global.css';
import SEO from '../components/SEO.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro'; // 1. Import Footer

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
        <SEO title={title} description={description} />
	</head>
	<body class="bg-slate-900 text-white font-sans antialiased">
        
        <Navbar />

        <slot />

        <Footer />

	</body>
</html>